<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>theMaruf</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/js/bootstrap.min.js">
    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>

</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-navbar py-0 pl-0">
    <div class="container">
        <a class="navbar-brand py-0 pl-0" href="/">
            <img class="p-2" src="/assets/img/logo.png" height="80px" alt="&amp;Kunst"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/festivals">Festivals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/artists">Künstler:innen</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Lokale Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <h2>Stretched Link in Card</h2>
    <p>Add the .stretched-link class to a link inside the card, and it will make the whole card clickable (the card will
        act as a link):</p>
    <div class="card" style="width:400px">
        <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
        <div class="card-body">
            <h4 class="card-title">John Doe</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            <a href="#" class="btn btn-primary stretched-link">See Profile</a>
        </div>
    </div>
</div>
</body>

</html>