<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>... und Kunst</title>
    <link rel="stylesheet" type="text/css" href="/assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/style.css">


    <script src="/assets/jquery/dist/jquery.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-navbar py-0 pl-0">
    <div class="container">
        <a class="navbar-brand py-0 pl-0" href="/">
            <img src="/assets/img/logo.png" height="80px" alt="... und Kunst"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav d-flex w-100 justify-content-around">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/festivals">Festivals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/events">Lokale Events</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid pl-0">
    <div class="row pl-0">
        <div class="col">
            <div class="row">
                <div class="col">
                    <iframe width="100%" height="400" src="https://www.youtube.com/embed/VmUGe8KDdGI" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscree></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col-9 m-3">
                    <p><a href="artist">Gehe zum Künstler</a></p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
                </div>
                <div class="col-2 m-2">
                    <div class="text-primary highlight">Support auf</div>
                    <div class="p-1"><a href=""><img src="assets/img/payment-1.png" width="40"/></a></div>
                    <div class="p-1"><a href=""><img src="assets/img/payment-2.png" width="120"/></a></div>
                    <div class="p-1"><a href=""><img src="assets/img/payment-3.png" width="80"/></a></div>
                </div>
            </div>
            <div class="row">
                <div class="col m-3">
                    <p><a href="">Webshop</a></p>
                    <p><a href="">Ticketsale</a></p>
                </div>
            </div>
        </div>
        <div class="col ml-2">
            <div class="row mt-2">
                <div class="col">
                    <h1>Rock im RAM</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
                        ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                        dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
                        sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                        justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                        ipsum dolor sit amet.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2>Programm</h2>
                </div>
            </div>

            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item active"><a class="page-link" href="#">22.03 (heute)</a></li>
                    <li class="page-item"><a class="page-link" href="#">23.03</a></li>
                    <li class="page-item"><a class="page-link" href="#">24.03</a></li>
                </ul>
            </nav>
            <div class="row">
                <div class="col">
                    <a href="stage"><h5 class="text-center highlight">Stage 1</h5></a>
                </div>
                <div class="col">
                    <a href="stage"><h5 class="text-center highlight">Stage 2</h5></a>
                </div>
                <div class="col">
                    <a href="stage"><h5 class="text-center highlight">Stage 3</h5></a>
                </div>
            </div>
            <div class="row my-1">
                <div class="col">
                    <div class="card">
                        <div class="card-header py-0 text-center">
                            19:00 Uhr
                        </div>
                        <div class="card-body">
                            <p>Artist 1</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header py-0 text-center">
                            19:15 Uhr
                        </div>
                        <div class="card-body">
                            <p>Artist 2</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header py-0 text-center">
                            18:15 Uhr
                        </div>
                        <div class="card-body">
                            <p>Artist 2</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-1">
                <div class="col">
                    <div class="card">
                        <div class="card-header py-0 text-center">
                            19:45 Uhr
                        </div>
                        <div class="card-body">
                            <p>Artist 1</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header py-0 text-center">
                            20:15 Uhr
                        </div>
                        <div class="card-body">
                            <p>Artist 2</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header py-0 text-center">
                            19:00 Uhr
                        </div>
                        <div class="card-body">
                            <p>Artist 2</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
	<div class="container position-fixed chat">
		<div class="chat-header" style="background-color:rgb(100,100,100)">
			Chat
		</div>
		<div class="chat-body">
			<div class="chat-message row">
				<div class="col-2 m-0 p-0">
					<img class="mt-1" src="assets/img/user-1.jpg" />
				</div>
				<div class="col-10 p-0">
					<div class="mr-1" style="font-weight:bold;float:left">Benjamin</div><div> um 17:36:</div>
					<div class="text-small m-0">Kommt mal alle auf die Stage 1 von Festival XYZ. Da findet gerade voll die interessante Lesung statt!</div>
				</div>
			</div>
			<div class="chat-message row">
				<div class="col-2 m-0 p-0">
					<img class="mt-1" src="assets/img/user-2.jpg" />
				</div>
				<div class="col-10 p-0">
					<div class="mr-1" style="font-weight:bold;float:left">Benjamin</div><div> um 17:37:</div>
					<div class="text-small m-0">Danke, da schau ich gleich mal vorbei!</div>
				</div>
			</div>
			<div style="position:fixed; bottom:0; width:340px" id="chat">
				<div style="width:100%">
					<input style="width:260px"></input>
					<button style="width:65px;margin-right:10px">Senden</button>
				</div>
			</div>
		</div>
	</div>

<footer class="navbar navbar-expand-lg navbar-light bg-navbar py-0 pl-0 footer">
    <div class="container">
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="">Impressum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Datenschutz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>

<script>
$(".chat-header").click(function() {
$(".chat").toggleClass("opened")
$("#chat").toggle()
})
</script>

</body>

</html>