 nav.navbar.navbar-light, footer.navbar.navbar-light {
   background-color: @color-grey;

   font-family: "Roboto", sans-serif;
   font-weight: 700;
   text-transform: uppercase;

   a.nav-link {
      color: @color-grey-light;

     &.active, &.focus, &:hover {
       color: @color-nav-accent;
     }
   }
 }
